.header-section {
    background-color: rgb(85, 83, 83);
}

.help-contan {
    margin-top: 40px;
}

.help-card {
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    .help-card {
        width: 300px;
    }
}