.header-container {
  width: 100vw;
  background-color: #484848;
  padding: 10px;
}

.logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid white;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid white;
}

.logo-container a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.logo {
  width: 40px;
  height: 40px;
}
