.main-container {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100vw;
  background-color: #484848;
  padding: 1rem;
}

.header__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__image {
  width: 50px;
  height: 50px;
  margin: 0;
}

.header__link-text {
  color: white;
  font-size: 1rem;
  margin-left: 5px;
}

.booking-info {
  width: 100vw;
  background-color: rgba(142, 208, 238, 0.575);
  border: 1px solid rgb(75, 187, 240);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.booking-info > h2 {
  color: rgb(16, 111, 155);
  font-weight: 200;
  font-size: 1rem;
}

.buses-info {
  align-self: center;
  width: 90vw;
  padding: 1rem;
  border: 1px solid #b4b4b4;
  margin-top: 5rem;
  border-radius: 3px;
}

.buses-info:hover {
  border: 1.5px solid rgb(16, 111, 155);
  cursor: pointer;
}

.travel-route {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle-wrap {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(16, 111, 155, 0.514);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(16, 111, 155);
}

.route-line {
  width: 80%;
  height: 10px;
  background-color: rgb(16, 111, 155);
}

.travel-timedate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.travel-timedate h2,
.travel-timedate p {
  margin: 2px;
  color: rgba(0, 0, 0, 0.4);
}

.bus-info p,
.bus-info h2 {
  color: rgba(0, 0, 0, 0.4);
  margin: 0;
}

.bus-info h2 {
  font-size: medium;
}

.bus-info p {
  font-size: smaller;
}

#travelName {
  color: #333;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.fas {
  color: gray;
  font-size: 1.3rem;
  margin: 8px;
  transition: all 0.2s;
}

.fas:hover {
  transform: scale(1.2);
}

.payment-info p {
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
}
