@media (min-width: 1200px){
.container {
    width: 1170px;
}
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

* {
    
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    color: #484848;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 300;
    background-color: #fff;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container:before{
    display: table;
    content: " ";
}

:before {
    box-sizing: border-box;
}

.container:after{
    display: table;
    content: " ";
}

:after {
    box-sizing: border-box;
}

::selection {
    background: #ed8323;
    color: #fff;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 0;
    font-weight: 300;
    color: #565656;
    line-height: 1.3em;
    font-size: 36px;
    margin-bottom: 10px;
    margin: .67em 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.gap-small {
    margin: 15px 0 15px 0;
}

.gap {
    display: block;
    position: relative;
    clear: both;
}

.gap:after {
    clear: both;
    content: '';
    display: table;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 10px;
}

h4{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 0;
    font-weight: 300;
    color: #565656;
    line-height: 1.3em;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}





